@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Cyan: #2ab2af;
    --Bright-Yellow: #c0df34;
    --Light-Gray: #e5eff5;
    --Grayish-Blue: #98a6bd;
}


html {
    font-size: 62.5%;   
}

body {   
    padding: 2.4rem;
    background: var(--Grayish-Blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
     min-width: 31.1rem;
     max-width: 45rem;
     background: #FFF;
     border-radius: 0.5rem;
}


.fist-container > .title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: -0.025rem;
    color: var(--Cyan);
    margin-bottom: 2.4rem;
}

.fist-container > .subtitle {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.01875rem;
    color: var(--Bright-Yellow);
    margin-bottom: 1.6rem
}

.fist-container > .text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: -0.0175rem;
    color: var(--Grayish-Blue);
    margin-bottom: 3.4rem;
}

